@import 'tailwindcss';

@theme {
  --color-primary: #03c3f9;
  --color-black: #000919;
  --color-white: #ffffff;
  --color-secondary: #05183a;
}

/* From Uiverse.io by ArturCodeCraft */
/* <reset-style> ============================ */
a {
  text-decoration: none;
}
/* <main-style> ============================ */
.menu__link {
  color: #fff;
  line-height: 2;
  position: relative;
}

.menu__link::before {
  content: '';
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  transition: width 0.4s;
}

.menu__link:hover::before {
  width: 100%;
}

.menu__link__active {
  width: 100%;
  color: #fff;
}
